.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    padding: 2vh  0;
}

.pagination > div {
    width: 5vmin;
    height: 5vmin;
    background: #DED5CE;
    border: 1px solid #DED5CE;
    border-radius: 1vmin;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2vmax;
    font-weight: 600;
    cursor: pointer;
}

.pagination > .active {
    background: #A58B77; 
}